<nav class="sidebar">
    <div id="logo-nav">
        <h1>SC</h1>
        <p>SoftCad System</p>
    </div>
    <ul id="icones" >
        <li routerLinkActive="active" routerLink="/home"><img src="assets/icones/icone-home.png" alt="home"><a>Home</a></li>
        <li routerLinkActive="active" routerLink="/cadastros"><img src="assets/icones/icone-cadastro.png" alt="cadastros"><a>Cadastro</a></li>
        <li routerLinkActive="active" routerLink="/relatorios"><img src="assets/icones/icone-relatorio.png" alt="relatorios"><a>Relatórios</a></li>
        <li routerLinkActive="active" routerLink="/logs"><img src="assets/icones/644825.png" alt="logs"><a>Controle de Log</a></li>
    </ul>
</nav>