<div class="overlay" *ngIf="modal"></div>
<div class="myModal" *ngIf="modal">
    <div class="modal">
        <div class="topo">
            <div>
                <!-- <img src="assets/icones/" alt="icon-person"> -->
                <h3 class="titulo-modal">Detalhes do log</h3>
            </div>
            <span class="close" (click)="onChangeModal()">&times;</span>
        </div>
        <form>
            <div class="container-form">
                <div class="item two">
                    <label for="id">ID Log</label>
                    <input type="text" id="id" name="id" [(ngModel)]="log.id" readonly>
                </div>
                <div class="item ten">
                    <label for="user">Usuário</label>
                    <input type="text" id="user" name="user" [(ngModel)]="log.executorEmail" readonly>
                </div>
            </div>

            <div class="container-form">
                <div class="item four">
                    <label for="operacao">Operação</label>
                    <input type="text" name="operacao" id="operacao" [(ngModel)]="log.operation" readonly>
                </div>
                <div class="item four">
                    <label for="datahora">Data/Hora</label>
                    <input type="text" name="datahora" id="datahora" [(ngModel)]="log.timestamp" readonly>
                </div>
                <div class="item four">
                    <label for="resultado">Resultado</label>
                    <input type="text" name="resultado" id="resultado" [(ngModel)]="log.result" readonly>
                </div>
            </div>

            <div class="container-form">
                <div class="item auto">
                    <label for="affectedUser">Usuário Afetado</label>
                    <input type="text" name="affectedUser" id="affectedUser" [(ngModel)]="log.affectedUser" readonly>
                </div>
            </div>

            <div class="container-form">
                <div class="item auto">
                    <label for="mensagem">Mensagem de Erro</label>
                    <input type="text" name="mensagem" id="mensagem" [(ngModel)]="log.message" readonly>
                </div>
            </div>
            <div class="item auto">
                <label for="id">Antes</label>
                <textarea type="text" id="antes" name="antes" [(ngModel)]="log.previousState" readonly rows="4"></textarea>
            </div>
            <div class="item auto">
                <label for="user">Depois</label>
                <textarea type="text" id="depois" name="depois" [(ngModel)]="log.currentState" readonly rows="4"></textarea>
            </div>

        </form>
    </div>
</div>