main{
    display: flex;
    flex-direction: column;
    float: inline-end;
    margin: 10px;
    border-radius: 5px;
    width: 80vw;
    height: 85vh;
    background-color:white;
}

.colorPage{
    background-color: #dedede;
}
