<!-- <div class="overlay"></div> -->
<div id="mySidenav" class="sidenav" [ngClass]="{'change': visible}">
    <div class="topo">
        <div class="name-config">Editar perfil</div>
        <div class="closebtn" (click)="onCloseSidebar()"><a>&times;</a></div>
    </div>
    <div class="foto-config">
        <div class="redonda" (click)="addImage()">
            <input type="file" #fileInput name="image-input" id="image-input" (change)="fileSelected($event)">
            <img [src]="photo" accept="image/*" alt="Usuário" class="profile-photo">
            <div class="overlay-image"><span class="material-symbols-outlined">edit</span></div>
            <input type="file" name="image-input" id="image-input">
        </div>
    </div>
    <div id="description-img"></div>
    <form  [formGroup]="formulario">
        <div class="dados">
            <div>
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" formControlName="name">
                <app-error-message [control]="formulario.get('name')" label="name"></app-error-message>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" formControlName="email">
                <app-error-message [control]="formulario.get('email')" label="email"></app-error-message>
            </div>
            <div class="password-config">
                <div>
                    <p>Alterar Senha</p>
                    <label for="password">Insira sua nova senha</label>
                </div>
                <div class="input-password">
                    <input type="password" name="password" id="password" formControlName="password">
                </div>
                <app-error-message [control]="formulario.get('password')" label="password"></app-error-message>
            </div>
            <div class="botao"><button type="submit" class="bt-alterar" (click)="onUpdate()">Salvar alterações</button></div>
            <div class="deletar-config">
                <p>Deletar Conta</p>
                <p class="txt-delete">Ao deletar sua conta, não há como voltar atrás. Por favor, tenha certeza.</p>
                <div class="botao"><button id="bt-delete" (click)="onDelete()">Deletar conta permanentemente</button></div>
            </div>
        </div>
    </form>
</div>
