<div class="page-content">
    <form [formGroup]="form">            
        <div class="facts-data">
            <h5 class="prim-description">Novo Cadastro</h5>
            <div class="status">   
                <input type="checkbox" id="status" formControlName="status" name="status">
                <label for="check">Ativo</label>
            </div>
        </div>
        <div class="item dez">
            <h5 class="description">1° Fatos e Dados</h5>
            <label for="name">Nome</label>
            <input type="text" formControlName="name" id="name">
            <app-error-message [control]="form.get('name')" label="name"></app-error-message>
        </div>
        <div class="container-form">
            <div class="item two">
                <label for="age">Idade</label>
                <input type="age" formControlName="age" id="age">
                <app-error-message [control]="form.get('age')" label="age"></app-error-message>
            </div>
            <div class="item ten">
                <label for="email">Email</label>
                <input type="email" formControlName="email" id="email">
                <app-error-message [control]="form.get('email')" label="email"></app-error-message>
            </div>
        </div>
        <div class="item auto">
            <label for="address">Endereço</label>
            <input type="address" formControlName="address" id="address">
            <app-error-message [control]="form.get('address')" label="address"></app-error-message>
        </div>
        <div class="item auto">
            <label for="information">Outras informações</label>
            <input type="information" formControlName="information" id="information">
        </div>
        <div class="item auto">
            <label for="interests"><h5 class="description">2° Interesses</h5></label>
            <textarea type="interests" formControlName="interests" id="interests" rows="4"></textarea>
            <app-error-message [control]="form.get('interests')" label="interests"></app-error-message>
        </div>
        <div class="item auto">
            <label for="feelings"><h5 class="description">3° Sentimentos</h5></label>
            <textarea type="feelings" formControlName="feelings" id="feelings" rows="4"></textarea>
            <app-error-message [control]="form.get('feelings')" label="feelings"></app-error-message>
        </div>
        <div class="item auto">
            <label for="principles"><h5 class="description">4° Valores</h5></label>
            <textarea type="principles" formControlName="principles" id="principles"rows="4"></textarea>
            <app-error-message [control]="form.get('principles')" label="principles"></app-error-message>
        </div>
        <div class="button">
            <button type="submit" (click)="onSubmit()">GRAVAR</button>
        </div> 
    </form>
</div>
