.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.300);
    z-index: 1;
}

.modal {
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 14px;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.1);
    width: 55vw;
    height: 90vh;
    border-radius: 2px;
    margin: 0;
    overflow-y: auto;
    border-radius: 5px;
}

.topo{
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    width: 100%;
    margin-bottom: 10px;
}

.topo > div > img {
    width: 28px;
    height: 28px;
    position: relative;
    top: 4px;
}

input, textarea{
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    border: none;
    background-color: #ffffff;
    border: 1px solid rgb(177, 177, 177);
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 0.8px;
    padding: 4px;
    padding-left: 20px;
    border-radius: 5px;
}

label{
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #3a3a3a;
    background-image: linear-gradient( to right, #f5f5f5, #ececec, rgb(235, 235, 235));
    margin-bottom: 2px;
    border-radius: 5px;
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo > div > h3{
    position: relative;
    top: 5px;
    left: 8px;
    font-size: 16pt;
    color: hsla(0, 0%, 0%, 0.500);
}

.interesses{
    font-size: 12pt;
    background-color: #f3f3f3;
    padding: 2px;
    margin-bottom: 4px;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: rgb(83, 83, 83);
}
  
.close:hover,
.close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.topo > div{
    display: flex;
}

.buttons-change{
    display: flex;
    justify-content: space-between;
    margin: 0px 28px 0px 12px;
}

.buttons-change > button{
    letter-spacing: 0.5px;
    border-radius: 5px;
    cursor: pointer;
}

.bt-delete{
    width: 120px;
    font-size: 10pt;
    border: 1px solid #a1a1a1;
    color: rgb(165, 62, 62);
    font-weight: bolder;
    padding: 1px;
    background-color: #ffffff;
}

.bt-change{
    width: 140px;
    font-size: 10pt;
    border: 1px solid #a1a1a1;
    background-color: #ffffff;
    color: rgb(41, 41, 41);
    font-weight: bolder;
    padding: 3px;
}

.bt-delete:hover, .bt-change:hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.288);
}

.container-form {
    overflow: hidden;
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 0px 2em 0em 0.5em;
    min-width: 0;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 13px;
}

.initial { flex: initial; }
.auto { flex: auto; }
.ten { flex: 10; }
.none { flex: none; }
.seven { flex: 7; }
.six { flex: 6; }
.five { flex: 5; }
.four { flex: 4; }
.three { flex: 3; }
.two { flex: 2; }
.one { flex: 1; }


