<div class="overlay" *ngIf="visibility" (click)="onChangeModal()"></div>
<div class="myModal">
    <div class="modal" *ngIf="visibility">
        <div class="topo">
            <div>
                <img src="assets/image/user-modal.png" alt="icon-person">
                <h3 class="titulo-modal">Dados do Usuário</h3>
            </div>
            <span class="close" (click)="onChangeModal()">&times;</span>
        </div>
        <form [formGroup]="formulario">
            <div class="item ten">
                <input type="text" id="name" formControlName="name" name="name"
                    placeholder="Name">
                <app-error-message [control]="formulario.get('name')" label="name"></app-error-message>
            </div>
            <div class="container-form">
                <div class="item ten">
                    <input type="email" formControlName="email" id="email" name="email"
                        placeholder="Email">
                    <app-error-message [control]="formulario.get('email')" label="email"></app-error-message>
                </div>
                <div class="item two">
                    <input type="number" formControlName="age" name="age" id="age"
                        placeholder="Idade">
                    <app-error-message [control]="formulario.get('age')" label="age"></app-error-message>
                </div>
            </div>
            <div class="container-form">
                <div class="item five">
                    <input type="text" formControlName="address" name="address" id="address"
                        placeholder="Endereço">
                    <app-error-message [control]="formulario.get('address')" label="address"></app-error-message>
                </div>
                <div class="item ten">
                    <input type="text" formControlName="information" name="information" id="information" placeholder="Outras Informações">
                </div>
            </div>
            <div class="item auto">
                <label for="interests">Interesses</label>
                <textarea name="interests" id="interests" formControlName="interests"
                    cols="1" rows="2"></textarea>
                <app-error-message [control]="formulario.get('interests')" label="interests"></app-error-message>
            </div>
            <div class="item auto">
                <label for="feelings">Sentimentos</label>
                <textarea name="feelings" id="feelings"
                    formControlName="feelings" cols="1" rows="2"></textarea>
                <app-error-message [control]="formulario.get('feelings')" label="feelings"></app-error-message>
            </div>
            <div class="item auto">
                <label for="principles">Valores</label>
                <textarea name="principles" id="principles" formControlName="principles" cols="1"
                    rows="2"></textarea>
                <app-error-message [control]="formulario.get('principles')" label="principles"></app-error-message>
            </div>
        </form>
        <div class="buttons-change">
            <button class="bt-delete" (click)="onDelete()">Deletar</button>
            <button class="bt-change" (click)="onUpdate()">Salvar alterações</button>
        </div>
    </div>
</div>